<!DOCTYPE html>
<html>

	<head>
		<meta content="application/xhtml+xml;charset=UTF-8" http-equiv="Content-Type">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>我的速运-登陆</title>

		<link rel="stylesheet" type="text/css" href="css/styleloginsign.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">

		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/self/effect.js"></script>
		<script type="text/javascript" src="js/self/validate.js"></script>
		<script type="text/javascript" src="js/jquery.cookie.js"></script>
		<script type="text/javascript">
			$(function() {
				// 表单提交
				$("#login").on("click", submintForm);
				// 用户登录信息
				getLoginedUser();
				// 手机号码的有效性校验
				$("#telephone").on("blur", validateTelephone);
				// 发送手机
				$("#telBtn").on("click", sendCheckCode);
				// 提交手机验证码
				$("#telephoneCode").on("blur", submintCheckCode);
				// 验证码的切换
				$("#checkImg").on("click", switchImg);
				// 验证码的校验
				$("#checkCodeImg").on("blur", checkCodeImg);
				
				// 记住用户名的
				$.ajax({
					type: "post",
					url: "./getRecordeUserName.action",
					async: true,
					success: function(data) {
						$("#username").val(data);
					}
				});
			});

			// 全局变量

			
			// 密码登录和手机登录的切换
			function show(flag) {
				if(flag === 1) {
					$("#format1").css("display", 'none');
					$("#format2").css("display", 'block');
				} else {
					$("#format1").css("display", 'block');
					$("#format2").css("display", 'none');
				}
			}
			
			// 用户登录信息
			function getLoginedUser() {
				var errorMsg = $.cookie("loginFail");
				if(errorMsg === "0") {
					$("#errorMsg").html("<font color='red'>用户名或密码错误!</font>");
					// 清除本次登录失败的信息
					$.cookie('loginFail', '0', {
						expires: 0,
						path: '/bos_fore'
					});
				}else if(errorMsg === "2"){
					$("#errorMsg").html("<font color='red'>账户不存在!</font>");
					$.cookie('loginFail', '0', {
						expires: 0,
						path: '/bos_fore'
					});
				}else{
					$("#errorMsg").html("");
				}
			}

			// 表单提交
			function submintForm() {
				$("#userForm").submit();
			}

			var active = true;
			// 发送手机验证码
			function sendCheckCode() {
				if(validateTelephone){
					$("#errorMsg").html("");
					
					var stop = 5;
					var timer; 
					var telephone = $("#telephone").val();
					if(active){
						timer = window.setInterval(function(){
							if(stop == 0){
								window.clearInterval(timer);
								$("#telBtn").html("<font>重新发送</font>");
								active = true;
							}else{
								$("#telBtn").html("<font>"+stop+"秒之后重新发送</font>");
								stop--;
								active = false;
							}
						}, 1000);
					}
					
					$.ajax({
						type:"post",
						url:"./sendCheckCode.action",
						data:{
							telephone:telephone
						},
						async:true,
					});
				}else{
					$("#errorMsg").html("<font color='red'>手机号码有误!</font>");
				}
				
			}
			
			// 提交手机验证码
			function submintCheckCode() {
				var flag = false;
				var checkCode = $("#telephoneCode").val();
				$.ajax({
					type:"post",
					url:"./submitCheckCode.action",
					async:true,
					data:{
						checkCode:checkCode
					},
					success:function(data){
						if(data.result === 0){
							$("#errorMsg").html("<font color='red'>验证码错误</font>");
							flag = false;
						}else if(data.result === 1){
							$("#errorMsg").html("");
							flag = true;
						}
					}
				});
				return flag;
			}
			
			// 手机号码的有效性校验
			function validateTelephone() {
				var regex = /^[1][34578][0-9]{9}$/;
				var telephone = $(this).val();
				if(regex.test(telephone)) {
					$("#errorMsg").html("");
					return true;
				} else {
					$("#errorMsg").html("<font color='red'>手机号码的格式不正确!</font>");
					return false;
				}
			}
			
			// 密码登录时账户和密码框的非空校验
			function validateAccountAndPassword(){
				var validateUsername = $("#username").val();
				var validatePassword = $("#password").val();
				if(validateUsername != "" && validatePassword != undefined && validatePassword != ""){
					return true;
				}else{
					return false;
				}
			}
			
			// 切换验证码
			function switchImg(){
				this.src="./getCheckImg.action?flush="+ new Date().getTime();
			}
			
			// 验证码的校验
			function checkCodeImg(){
				var flag = false;
				var imgCode = $("#checkCodeImg").val();
				$.ajax({
					type:"POST",
					url:"./checkCodeImg.action",
					data:{
						"imgCode":imgCode
					},
					async:false,
					success:function(data){
						if(data.result === 0){
							$("#errorMsg").html("<font color='red'>验证码错误</font>");
							flag = false;
						}else if(data.result === 1){
							$("#errorMsg").html("");
							flag = true;
						}
					}
					
				});
				return flag;
			}
			
			// 表单提交之前的校验
			function submintFun(data){
				// 用户登录方式的判断
				var selection = $(":radio[name='article']:checked").val();
				if(selection === '0'){
					var c1 = validateAccountAndPassword();
					var c2 = checkCodeImg();
					if(c1 && c2){
						return true;
					}else{
						return false;
					}
				}else if(selection === '1'){
					if(submintCheckCode){
						return true;
					}else{
						return false;
					}
				}
			}
		</script>
	</head>

	<body style="background-color: #f2f2f2;">
		<div class="logincontent">
			<div class="loginnav">
				<nav class="nav navbar-default">
					<div class="container">
						<div class="navbar-header">
							<a class="navbar-brand" href="#"><img src="images/icon/logo.png"></a>
							<span class="logintitle">用户登录</span>

						</div>

					</div>

				</nav>
			</div>

			<section class="mainlogin" ng-app="validationApp" ng-controller="mainController">
				<div class="container">
					<div class="col-md-4 col-md-offset-7 loginbox">
						<h4>用户登录</h4>
						<span id="errorMsg"></span>
						<form class="form-horizontal" name="userForm" id="userForm" 
							action="./login.action" method="post" onsubmit="return submintFun(this)">

							<div class="form-group">
								<label class="col-sm-3 control-label">登录方式</label>
								<div class="col-sm-7">
									<label for="r1" class="radio-inline"><input type="radio" value="0" name="article" onclick="show(0)" checked>密码登录</label>
									<label for="r2" class="radio-inline"><input type="radio" value="1" name="article" onclick="show(1)"  >手机号登录</label>

								</div>
							</div>

							<div id="format1">
								<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
									<label for="inputaccount" class="col-sm-3 control-label">账号</label>
									<div class="col-sm-8">
										<input type="text" name="username" id="username" class="form-control" ng-model="user.name" placeholder="请输入账号">
										<p ng-show="userForm.name.$invalid && !userForm.name.$pristine" class="help-block">用户名不可为空.</p>
									</div>
								</div>
								<div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
									<label for="inputpassword" class="col-sm-3 control-label">密码</label>
									<div class="col-sm-8">
										<input type="password" class="form-control" name="password" id="password" placeholder="请输入您的密码" ng-model="user.password" ng-minlength="3" ng-maxlength="8" >

										<p ng-show="userForm.password.$error.minlength" class="help-block">用户名太短了！</p>
										<p ng-show="userForm.password.$error.maxlength" class="help-block">用户名太长了！</p>

									</div>
								</div>
								<div class="form-group" style="margin-bottom: 0;">
									<label for="inputvalidate" class="col-sm-3 control-label">验证码</label>
									<div class="col-sm-5" style="margin-right: 0; padding-right: 0;">
										<input type="text" name="imgCode" class="form-control" id="checkCodeImg" placeholder="请输入验证码">
									</div>
									<div class="col-sm-3" style="position: relative;top: 10; left: 10; padding: 0;margin: 0;">
										<img src="./getCheckImg.action" id="checkImg">
									</div>
								</div>
								<div class="form-group">

									<div class="col-sm-offset-4 col-sm-4">
										<div class="checkbox">
											<input type="checkbox" name="recordUserName"><span class="size12">　记住用户名</span>

										</div>
									</div>

								</div>
							</div>

							<div id="format2" style="display:none;">
								<div class="form-group">
									<label for="inputPassword3" class="col-sm-3 control-label">手机号</label>
									<div class="col-sm-8">
										<input type="text" name="telephone" class="form-control" id="telephone" placeholder="请输入手机号">
									</div>
								</div>

								<div class="form-group">
									<label for="inputvalidate" class="col-sm-3 control-label">验证码</label>
									<div class="col-sm-4">
										<input type="text" class="form-control" id="telephoneCode" placeholder="验证码">
									</div>
									<div class="col-sm-3">
										<div class="btn btn-default" id="telBtn">获取验证码</div>
									</div>
								</div>

							</div>

							<div class="col-md-offset-3 col-md-8">
								<a href="javascript:void(0)" class="btn btn-danger" id="login">登录</a>

							</div>
							<p class="text-right clearfix">还不是我们的会员？<b><a href="signup.html">立即注册</a></b></p>

						</form>

					</div>
				</div>

			</section>

			<footer>
				<section class="copyright size12">
					<div class="container">
						<p class="text-center">地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100 </p>
						<p class="text-center">京ICP备08001421号京公网安备110108007702</p>
					</div>
				</section>
			</footer>
		</div>
	</body>

</html>