<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8" />
	<title>Simple app</title>
	<script src="../js/angularJS/angular.min.js">
	</script>
			<script type="text/javascript">
			var app = angular.module('app', []);
			app.controller('FirstController', function($scope) {
			$scope.name
			$scope.message = "hello";
			});
			function test(){
				alert();
			}
	</script>
	</head>
	<body ng-app="app" ng-controller="FirstController">
		用户名<input type="text" name="name" ng-model="name"/><br />
		<a ng-click="test()" href="javascript:void(0)">click</a>
		{{message}} {{name}}
	</body>
</html>