<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

	  <!-- spring 的监听器 -->
	  <context-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext.xml</param-value>
	  </context-param>
	  <listener>
	        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	  </listener>
	     <!-- CXFServlet -->
       <servlet>
           <servlet-name>cxfServlet</servlet-name>
           <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
           <load-on-startup>1</load-on-startup>
       </servlet>
       <servlet-mapping>
           <servlet-name>cxfServlet</servlet-name>
           <url-pattern>/service/*</url-pattern>
       </servlet-mapping>
	  <!-- OpenSessionInView -->
<!-- 	  <filter>
	       <filter-name>OpenSessionInViewFilter</filter-name>
	       <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
	  </filter>
      <filter-mapping>
            <filter-name>OpenSessionInViewFilter</filter-name>
            <url-pattern>/*</url-pattern>
      </filter-mapping> -->
	  <!-- 核心过滤器 -->
	  <filter>
		    <filter-name>struts2</filter-name>
		    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	  </filter>
	  <filter-mapping>
	        <filter-name>struts2</filter-name>
	        <!-- 此处要将核心过滤器设置成*.action，因为，前端系统请求过来时，路径中并没有带.action，所以如何过
	        不修改，会被后台的过滤器拦截，按照请求的URL到action中区寻找对应的方法，势必找不到，所以要让核心
	        过滤器放行，让cxf的过滤器去实现路径的分流 -->
	        <url-pattern>*.action</url-pattern>
	  </filter-mapping>

</web-app>
